* {
	padding: 0;
	margin: 0;
	border: 0;

}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	text-align: center;
}

.main_block {
	display: flex;
	justify-content: space-between;
}

.img {
	width: 100px;
}

.contacts {
	display: flex;
	background-color: aquamarine;
}